env/*
venv/*
.idea/*
__pycache__/*
*.pyc
**/*.sqlite3
**/cookies_user_1.pkl
**/*.log
**/postgres-data/*
/measure24/facebook_test/venv/
/measure24/venv/
/measure24/last_login_page_source.html
/measure24/last_group_page_source.html
/last_login_page_source.html
/last_group_page_source.html
/core
*/redis_data/
/redis_data/
/celerybeat.pid